services:
  app_proxy:
    environment:
      APP_HOST: ui
      APP_PORT: 3334

  server:
    image: ghcr.io/timton-ch/wernerpool-server:v2.0.6
    restart: on-failure
    stop_grace_period: 1m
    ports:
      - "3333:3333"
    volumes:
      - ${APP_DATA_DIR}/data:/app/data
    environment:
      NODE_ENV: production
      BITCOIN_RPC_URL: http://${APP_BITCOIN_RPC_USER}:${APP_BITCOIN_RPC_PASS}@${APP_BITCOIN_NODE_IP}:8332
      BITCOIN_RPC_USER: ${APP_BITCOIN_RPC_USER}
      BITCOIN_RPC_PASS: ${APP_BITCOIN_RPC_PASS}
      BITCOIN_RPC_HOST: ${APP_BITCOIN_NODE_IP}
      BITCOIN_RPC_PORT: 8332
      STRATUM_PORT: 3333
      API_PORT: 3335
      NETWORK: mainnet
      POOL_NAME: WERNERPOOL
      DATA_DIR: /app/data

  ui:
    image: ghcr.io/timton-ch/wernerpool-ui:v2.0.6
    restart: on-failure
    stop_grace_period: 1m
    environment:
      NODE_ENV: production
      API_URL: http://server:3335
      PORT: 3334
    depends_on:
      - server
